{% extends "base.html"%}

{%block title%}FileUpload{%endblock%}
{% block content %}
<form method="POST" action="{{url_for('file_upload')}}" enctype="multipart/form-data">
    
   <!-- <embed src="{{f_url}}" type="application/pdf" width="1420px" height="900px" /> -->
   <embed src="{{f_url}}" type="application/pdf" width="1000px" height="800px" />
   <!-- <a href="{{f_url}}" download="{{f_name}}"><input type="button" value="Download"></a> -->
    <a href="{{url_for('file_download', filename = f_name)}}"><input type="button" value="Download"></a>
</form> 

{%endblock%}