{% extends 'base.html' %}
{% block title %}INDEX{% endblock %}
{% block content %}
<h1>INDEX PAGE</h1>
<p>Welcome {{current_user}}</p>
<ul>
    {% for person in people %}
    <li>
        {{ person.name }} (ID: {{ person.pid }})
        <!-- <form action="{{url_for('details', pid=person.pid)}}" method="GET">
            <button type="submit">Details</button>
        </form> -->
        <button onclick="deletePerson({{ person.pid }})">Delete</button> <a href="{{url_for('details', pid = person.pid)}}">Details</a>
    </li>
    {% endfor %}
</ul>

<h3>New Person</h3>
<form action="{{ url_for('index') }}" method="POST">
    <input type="text" placeholder="NAME" name="name"><br>
    <input type="number" placeholder="AGE" name="age"><br>
    <input type="text" placeholder="JOB" name="job"><br>
    <input type="submit" value="Add New Person">
</form>

<form action="{{ url_for('logout') }}" method="GET">
    <input type="submit" value="LOGOUT">
</form>


<script src="{{ url_for('static', filename='app.js') }}"></script>
{% endblock %}
