{% extends 'base.html' %}
{% block title %}LOGIN{% endblock %}
{% block content %}
<form action=" {{ url_for('login') }}" method="POST">
    <input type="number" name="uid" placeholder="UID"><br>
    <input type="text" name ="name" placeholder="Name" required="required"><br>
    <input type="password" name="password" placeholder="password" required="required"><br>
    <!-- <input type="text" name="role" placeholder="Role"><br> -->
    <!-- <input type="text" name="description" placeholder="Description"><br> -->
    <input type="submit" value="LOGIN">
</form>

<form action="{{url_for('signupbttn')}}" method="GET">
    <input type="submit" value="Sign-Up">
</form>

{% endblock %}