{% extends 'base.html' %}
{% block title %}SIGNUP{% endblock %}
{% block content %}
<form action=" {{ url_for('signup') }}" method="POST">
    <input type="number" name="uid" placeholder="UID"><br>
    <input type="text" name ="name" placeholder="Name"><br>
    <input type="password" name="password" placeholder="password"><br>
    <input type="text" name="role" placeholder="Role"><br>
    <input type="text" name="description" placeholder="Description"><br>
    <input type="submit" value="Sign-Up">
</form>

{% endblock %}